

header {
    font-family: Helvetica,;
    background-image: url("../images/apple-pie.jpg");
    background-size: cover;
    background-position: center center;
    padding: 250px 0;
}

body{
    font-family: Arial;
    margin: 1,2;
    font-size: 15px;
    line-height: 150%;
}

header h1 {
    text-align: center;
    margin: 0;
    color: white;
    font-size: 70px;
    font-weight: lighter;
  }

  h2{
    color: rgb(11, 11, 134);
   }

  p {
    margin:1;
}

  img {
    width: 30%;
    display: block;
    margin: 32px auto;
  }

  article.ingredients{
    line-height: 2;
  }

 
  